.git
.gitattributes
.gitignore
.editorconfig
node_modules
vendor
tests
docs
*.md
.env
.env.docker
.env.example
.phpunit.result.cache
phpunit.xml
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
docker-compose.yml
.dockerignore
